<html>
<head>
    <title></title>
</head>
<style>
    #hid1{
        color:red;
        font-style: italic;
    }
</style>
<body bgcolor="blue">
<marquee bahavior="alternate" width="100%"><h1>Welcome to <i>Product Info</i></h1></marquee>
    <h1 id="hid1"><center>Please enter Product Id...</center></h1>
    <center>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}<br><br>
            <input type="submit" value="Delete">
        </form>
        <h3><a href="./">Click here to go Homepage</a></h3><br>

    </center>
</body>
</html>