<html>
<head>
    <title></title>
    <style>
        h1{
            font-family: "Yu Gothic Light";
            color: green;
            font-size: 50px;
        }
        body{
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
<center>
        <h1>Welcome to Product Data Project</h1>
        <h2><a href="/insert">Please insert the data</a></h2>
        <h2><a href="/display">Please click here to display the data</a></h2>
        <h2><a href="/update">Please click here for update the data</a></h2>
        <h2><a href="/delete">Please click here for delete the data</a></h2>
</center>
</body>
</html>